{% extends 'catalogapp/base.html' %}
{% load static %}
{% block content %}
    <div class="card mt-3 mb-5">
        <div class="col-3 text-center">{{ category_name }}</div>
        <table class="table table-striped mt-5">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Название</th>
                <th scope="col">Цена</th>
                <th scope="col">Количество</th>
                <th scope="col">Поставщик</th>
                <th scope="col">Дата поступления</th>
            </tr>
            </thead>
            <tbody>
            {% for item in object_list %}
                <tr>
                    <th scope="row">{{ item.pk }}</th>
                    <td>{{ item.product_name }}</td>
                    <td>{{ item.price }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.supplier_name }}</td>
                    <td>{{ item.added|date:"Y-m-d H:i:s" }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}